

header, footer {
    padding: 10px;
    background-color: #33C3F0;
    color: white;
}

header{
    margin-bottom: 20px;
}

footer{
    margin-top: 20px;
}

.menu{
    padding-top: 10px;
    padding-bottom: 40px;
}
.margen{
    text-align: right;
}