
{% extends 'base.html' %}

{% block titulo%}Listado de productos{% endblock %}

{% block contenido %}
    <h1>Lista de productos </h1>
    <a class="button button-primary" href="/addproducto">Nuevo</a>
    <table class="u-full-width">
        <tr>            
            <th>Producto</th>
            <th class='margen'>Precio unitario</th>
            <th class='margen'>Coste unitario</th>
        </tr>
        {% for producto in productos%}
        <tr>           
            <td class='producto'><a href="/modificaproducto?id={{producto [0]}}">{{producto [1]}}</a></td>
            <td class='margen'>{{producto [2] | round(2, 'floor')}} €</td>
            <td class='margen'>{{producto [3] | round(2, 'floor')}} €</td>
        </tr>
        {% endfor%}
    </table>

{%endblock%} 